.partyon_estimate_company_logo {
    width: 150px !important;
    max-width: 150px !important;
    height: auto !important;
    max-height: none !important;
}

.partyon_estimate_article {
    padding-top: 65px;
}
